<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- CSS Bootstrap CDN Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/colors.css') }}">

    {% block css %} {% endblock %}

</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-conferences">View Upcoming Conferences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-blogs">View Blogs</a>
                </li>
                <li class="nav-item" id="nearby-docs">
                    <a class="nav-link" href="/nearby">View Nearby Doctors</a>
                </li>
            </ul>
            <!-- profile button -->
        </div>
    </div>
    <div class="container flex-row-reverse">
        <a class="btn btn-outline-light" id="logoutBtn" href="/logout" role="button">Logout</a>
    </div>
    <script type="text/javascript">

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            console.log(decodedCookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return null;
        }

        const logoutBtn = document.getElementById('logoutBtn')
        const docLink = document.getElementById('nearby-docs')
        
        if (!getCookie("docID")) {
            logoutBtn.classList.add('d-none')
            logoutBtn.classList.remove('d-inline-block')
            docLink.classList.add('d-block')
            docLink.classList.remove('d-none')
        } else {
            logoutBtn.classList.remove('d-none')
            logoutBtn.classList.add('d-inline-block')
            docLink.classList.remove('d-block')
            docLink.classList.add('d-none')
        }
    </script>
</nav>


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


{% block body %}


{% endblock %}




</body>
</html>
