{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center mt-3">Welcome to Rural Health Development Portal</h1>

    <p class="mt-5">
        You can use this portal to check if you have any health issues by telling us what symptoms you are facing. We can connect you to a nearby doctor if needed. You can also know about upcoming health conferences and read blogs here to increase self-awareness. We also provide offline facilites by using SMS.
    </p>

    <form class="mt-5 text-center" method="GET" action="/diagnosis">
        <div class="form-group mx-auto">
            <label for="symptoms">Which of the following symptoms do you have?</label>
            <br class="mt-2" />
            <select class="selectpicker" multiple data-live-search="true" name="symptoms">
                <option>abdominal pain</option>
                <option>anxiety</option>
                <option>back pain</option>
                <option>burning eyes</option>
                <option>burning in the throat</option>
                <option>cheek swelling</option>
                <option>chest pain</option>
                <option>chest tightness</option>
                <option>chills</option>
                <option>cold sweats</option>
                <option>cough</option>
                <option>dizziness</option>
                <option>drooping eyelid</option>
                <option>dry eyes</option>
                <option>earache</option>
                <option>early satiety</option>
                <option>eye pain</option>
                <option>eye redness</option>
                <option>fast, deepened breathing</option>
                <option>feeling of foreign body in the eye</option>
                <option>fever</option>
                <option>going black before the eyes</option>
                <option>headache</option>
                <option>heartburn</option>
                <option>hiccups</option>
                <option>hot flushes</option>
                <option>increased thirst</option>
                <option>itching eyes</option>
                <option>itching in the nose</option>
                <option>lip swelling</option>
                <option>memory gap</option>
                <option>menstruation disorder</option>
                <option>missed period</option>
                <option>nausea</option>
                <option>neck pain</option>
                <option>nervousness</option>
                <option>night cough</option>
                <option>pain in the limbs</option>
                <option>pain on swallowing</option>
                <option>palpitations</option>
                <option>paralysis</option>
                <option>reduced appetite</option>
                <option>runny nose</option>
                <option>shortness of breath</option>
                <option>skin rash</option>
                <option>sleeplessness</option>
                <option>sneezing</option>
                <option>sore throat</option>
                <option>sputum</option>
                <option>stomach burning</option>
                <option>stuffy nose</option>
                <option>sweating</option>
                <option>swollen glands in the armpits</option>
                <option>swollen glands on the neck</option>
                <option>tears</option>
                <option>tiredness</option>
                <option>tremor at rest</option>
                <option>unconsciousness, short</option>
                <option>vomiting</option>
                <option>vomiting blood</option>
                <option>weakness</option>
                <option>weight gain</option>
                <option>wheezing</option>
            </select>
        </div>
        <div class="form-group mx-auto">
            <label for="age">Age:</label>
            <input type="text" name="age" />
        </div>
        <div class="form-group mx-auto">
            <label for="gender">Gender:</label>
            <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button type="submit" class="btn btn-dark">Diagnose</button>
    </form>
</div>

{% include 'patient_footer.html' %}
{% endblock %}
