{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center mt-3">Welcome to Rural Health Development Portal</h1>

    <p class="mt-5">
        You can use this portal to check if you have any health issues by telling us what symptoms you are facing. We can connect you to a nearby doctor if needed. You can also know about upcoming health conferences and read blogs here to increase self-awareness. We also provide offline facilites by using SMS. 
    </p>

    <form class="mt-5 text-center">
        <div class="form-group mx-auto">
            <label for="symptoms">Which of the following symptoms do you have?</label>
            <br class="mt-2" />
            <select class="selectpicker" multiple data-live-search="true" name="symptoms">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Mayo</option>
            </select>
        </div>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <a class="btn btn-primary" href="#" role="button">Check out our offline facilites</a>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" href="/doctor" role="button">Are you a doctor?</a>
            </div>
        </div>
      </div></footer>
{% endblock %}