{% extends 'base.html' %}

{% block title %} Nearby doctors {% endblock %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}

<button type="submit" class="btn btn-dark" id="locateBtn">Locate!</button>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>

{% if res %}
    <div id="map">

        <img src="data:image/png;base64,{{ res }}"/>
        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-0lax">Name</th>
                    <th class="tg-0lax">Email</th>
                    <th class="tg-0lax">Phone number</th>
                    <th class="tg-0lax">Share symptoms with that doctor!</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in doctors %}
                <tr>
                    <td class="tg-0lax">{{ doc[1] }}</td>
                    <td class="tg-0lax">{{ doc[3] }}</td>
                    <td class="tg-0lax">{{ doc[2] }}</td>
                    <td class="tg-0lax"><button class="btn btn-primary share-symptoms" id="{{ doc[0] }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <circle cx="6" cy="12" r="3" />
  <circle cx="18" cy="6" r="3" />
  <circle cx="18" cy="18" r="3" />
  <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />
  <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" />
</svg></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div id="map"></div>
{% endif %}

<!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_GTGGge8SF-TlI8A15JsVescUBu1jexw&libraries=places"
        async defer></script>
-->
<script src="{{ url_for('static', filename='js/index.js') }}" async defer></script>


{% include 'patient_footer.html' %}
{% endblock %}
